form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background: #ffff;
  border-radius: 7px;
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: #000000;
  }
  input,
  textarea {
    border: 1px solid #d50000;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: #000;
  }
  .btn {
    width: 25%;
    height: 50px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    &:hover {
      background: #cbaa93;
    }
  }
}
